gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Additional Android Security Files
upload-keystore.jks
release-keystore.jks
google-services-release.json
firebase-debug.json

# Signing configurations
signing.properties
release.properties
